header{
    width: 100%;
    height: 100vh;
    background: url("1398777143_396955626.jpg")no-repeat center center /cover;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items:center ;
}
/* header:hover{
    background: url("sun.webp")no-repeat center center /cover;
} */
 .bi{
    font-size: 60px;
    color: blue;
 }